
body{
    background-color: green;
}
.entrada{
    width: 60px;
}
b{
    font-size:30px;
}

.card{
    margin:20px;
    background-color: aliceblue;
    width: 80px;
    height: 150px;
    border-radius: 5%;
}


.pintaup{
    position: relative;
    font-size: 30px;
    margin-left:5px;
    bottom:10px;
}

.numero{
    position: relative;
    font-size:45px;
    text-align: center;
    bottom:10px;
}

.pintadown{
    position: relative;
    font-size: 30px;
    transform: rotate(180deg);
    margin-right:5px;
    margin-bottom:10px;
}