
body{
    background-color: green;
}
.entrada{
    width: 60px;
}
b{
    font-size:30px;
}

.card{
    margin:20px;
    background-color: aliceblue;
    width: 80px;
    height: 150px;
    border-radius: 5%;
}

.icono1{

}

.numero{}

.icono2{}

